<a href="https://colab.research.google.com/github/Pulisai1704/Python/blob/main/1704_MODULE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MODULE - 2

##Create a function which accepts two inputs from the user and compute nCr

In [4]:
def nCr (x,y):
  return(fact(x)//(fact(y)
                   *fact(x-y)))
x=int(input("")) 
y=int(input(""))
def fact(x):
    res=1 
    for i in range(2,x+1):
      res =res*i
    return res
print(int(nCr(x,y)))

6
2
15

## Program to print a specified list after removing the 0th, 4th and 5th elements.

In [18]:
a = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
a = [x for (i,x) in enumerate(a) if i not in (0,4,5)]
print(a)

['Green', 'White', 'Black']

## Program to get the difference between the two lists

In [7]:
a = [1, 3, 5, 7, 9]
b=[1, 2, 4, 6, 7, 8]
diff_a_b = list(set(a) - set(b))
diff_b_a = list(set(b) - set(a))
total_diff = diff_a_b + diff_b_a
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

## Given list of tuples, remove all the tuples with length K

In [17]:
numbers = [8, 10, 14, 18, 24]
print("The numbers is ")
print(numbers)
print("The resultant tuple is :")
result = [(val, pow(val, 4)) for val in numbers]
print(result)

The numbers is
[8, 10, 14, 18, 24]
The resultant tuple is :
[(8, 4096), (10, 10000), (14, 38416), (18, 104976), (24, 331776)]

## Program to remove a key from a dictionary

In [14]:
dictionary = {'x':3,'y':4,'z':5,'a':6}
print(dictionary)
if 'x' in dictionary: 
    del dictionary['x']
print(dictionary)

{'x': 3, 'y': 4, 'z': 5, 'a': 6}
{'y': 4, 'z': 5, 'a': 6}

## Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [13]:
a=int(input("Input a number "))
b = dict()

for i in range(1,a+1):
    b[i]=i*i

print(b)

Input a number 2
{1: 1, 2: 4}

## Program to get the maximum and minimum value in a dictionary

In [20]:
dictionary = {'a':300, 'b':874, 'c': 860}

key_max = max(dictionary.keys(), key=(lambda k: dictionary[k]))
key_min = min(dictionary.keys(), key=(lambda k: dictionary[k]))

print('Maximum Value: ',dictionary[key_max])
print('Minimum Value: ',dictionary[key_min])

Maximum Value:  874
Minimum Value:  300