<a href="https://colab.research.google.com/github/Pulisai1704/Python/blob/main/1704_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1)write a python program to find power of number with recursion and without recursion(input n=2 , p=3)

In [41]:
## without recursion
n=int(input())
p=int(input())
x=n**p
print(x)

2
3
8

In [42]:
## with recursion
def power(n,p):
  if p==0:
    return 1
  if p!=0:
    return(n*power(n,p-1))
n=int(input())
p=int(input())
print(power(n,p))

2
3
8

## 2) write a program to sort tuple by total digits (input: list=[(3,4,6,723),(1,2),(134,234,34)])
      output:[(1,2)(3,4,6,723)(34,134,234)]

In [ ]:
a=eval(input("enter the list of tuple"))
b=sorted(a)
print(b)

enter the list of tuple(3,4,6,723),(1,2),(134,234,34)
[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
a=[(3,4,6,723),(1,2),(134,234,34)]
for i in range(0,len(a)):
  a[i]=sorted(a[i])
print(sorted(a))

[[1, 2], [3, 4, 6, 723], [34, 134, 234]]

## 3)take five subjects from the user and display the grade of the student,if average is 90-100(o),80-89(a+),70-79(a)...

In [ ]:
sub1=int(input("entr the mark"))
sub2=int(input("entr the mark"))
sub3=int(input("entr the mark"))
sub4=int(input("entr the mark"))
sub5=int(input("entr the mark"))
avg=(sub1+sub2+sub3+sub4+sub5)/5
print(avg)
if(avg>=90):
  print("o") 
elif(avg>=80):     
  print("a+")
else:
 print("fail")

entr the mark91
entr the mark77
entr the mark84
entr the mark94
entr the mark87
86.6
a+

## 4)write a python program that prints 1 if all three given numbers are ascending order.

In [ ]:
a,b,c=map(int,input().split())
if c>b and b>a:
  print(1)
else:
    print(0)

7 5 4
0

## 5)check a given number is perfect number are not

In [ ]:
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 124
The number is not a Perfect number!

## 6)check a given string is a pallindrome or not

In [ ]:
def Palindrome(s):
  return s==s[::-1]
s=input("enter the value")
ans=Palindrome(s)
if ans:
  print("Yes")
else:
  print("No")

enter the value55
Yes

## 7))find the gcd of two numbers with and without recursion(5,3=1)

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
k=a if a<b else b
while True:
 if a%k==0 and b%k==0:
  break
 k -=1
print(k)

enter a number4
enter a number8
4

## 8)print sum of even digits in a given number

In [1]:
a=int(input())
i=0
while a>0:
  d=a%10
  if d%2==0:
    i=i+d
  a=a//10
print(i)

4
4

## 9)calculate the product of digits of a number

In [3]:
n=int(input())
b=1
while n>0:
  d=n%10
  b=b*d
  n=n//10
print(b)

23
6

## 10)write a program to calculate the sum of squares given by user(123=14)

In [4]:
x=int(input())
b=0
while x>0:
   d=x%10
   b=b+d**2
   x=x//10
print(b)

3
9

## 11)given a string is s= abcdefcba how many times ith character from the front equals last ith element print(countfrontbackmatches('abcdefcba'))

In [5]:
def ith_capital(x):
  a=len(x)
  b=a//2
  sum=0
  for i in range(1,b+1):
    if x[(i-1)]==x[-i]:
      sum = sum + 1
  return sum
x=str(input())
print(ith_capital(x))

5
0

## 12)given an integer n, return a list containing 1223334444.. and finaly n repeated n times(n>0) print(repeatnumtimes(4)

In [7]:
x=int(input())
a=[]
for i in range (x+1):
  for j in range(i):
    a.append(i)
print(a)

6
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6]

## 13)print number of vowels and consonents in a given string(gitam university)

In [10]:
n=str(input())
x=0
y=0
n=n.lower()
for i in n:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    x=x+1
  elif i >= 'a' and i<='z':
    y=y+1
print("vowels = {}".format(x))
print("consonents = {}".format(y))

avinash puli
vowels = 5
consonents = 6

## 14)given two integers a and b.if a <b ,print all numbers between in ascending order.if a>b print all numbers between in decending *order*

In [16]:
x=int(input())
y=int(input())
if x<y:
  for i in range(x,y+1):
    print(i)
if x>y:
  for i in reversed(range(y,x+1)):
    print(i)

12
8
12
11
10
9
8

## 15)program to print greatest of three numbers

In [12]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
  print(a)
elif b>c and b>a:
  print(b)
else:
  print(c)

3
4
6
6

## 16)write a program to print numbers of strings where the string length is 2 or more and the fist and last are same from given input

In [17]:
n=["xyz","1441","aba","abc"]
for i in n:
  if len(i)>2:
    if i[0]==i[-1]:
      print(i)

1441
aba

## 17)round trip of 3+3=6 km.no of days and no of round trips.<40000 meters (need to walk more ) >40000 meters (good job)

In [18]:
x=int(input()) #days
y=int(input()) #round trips
z=x*y*6000
if z>=40000:
  print("Good job")
else:
  print("Need to walk more")

38000
41000
Good job

## 18)given alist of students l and a charter, display thenames of the students whose first character is a gien character print(student details([]))

In [21]:
n=input("Enter letter to be verified ")
n=n.lower()
r=[]
s=0
for i in range(int(input("Enter no. of students "))):
    a=input(f"Enter name of student no. {i+1} ")
    a=a.lower()
    p=a[0]
    if n==p :
       s+=1
       r.append(a)
print(f"Total {s} students matched\nThey are {r}")

Enter letter to be verified hari
Enter no. of students 3
Enter name of student no. 1 sai
Enter name of student no. 2 mani
Enter name of student no. 3 hari
Total 0 students matched
They are []

## 19)given a list of city names whose length is greater than the given length

In [25]:
a=["guntur","vizag","vijayawada","repalle"]
b=int(input())
c=[]
for i in a:
  if len(i)>=b:
    c.append(i)
print(c)

5
['guntur', 'vizag', 'vijayawada', 'repalle']

## 20)write a progam to print prime numbers in given range by using functions(25,50).

In [28]:
def prime(a,b):
  for i in range(a,b+1):
    sum=0
    for n in range(1,i+1):
      if i%n==0:
         sum=sum+1
    if sum==2:
        print(i)
a=int(input())
b=int(input())
prime(a,b)

25
50
29
31
37
41
43
47

##21)write program to read any month in integer and display days for that month.

In [29]:
a= int(input("enter the month number"))
b=[4,6,9,11]
if a==2:
 print("28/29")
elif a in b:
  print("30")
elif a>=13 or a<1:
  print("run the programm again")
else:
  print("31")

enter the month number23
run the programm again

##22)write a python program to print even length words in string.input:   " this is a python class"

In [32]:
a=str(input())
b=a.split(' ')
for i in b:
  if len(i)%2==0:
    print(i)

this is a python class
this
is
python

## 23)write a program to read a string from user display first chacter of each word with capital letter.

In [33]:
x=str(input())
y=x.split(' ')
for i in y:
  n=i.capitalize()
  print(n,end=" ")

hari
Hari

## 24)write a python program to captalise the first and last of each word

In [35]:
a=str(input())
b=a.split(' ')
z=""
for i in b:
  x=i.capitalize()
  y=i[-1].capitalize()
  z=x[0:-1]+y
  print(z,end=" ")

hari pranay
HarI PranaY

## 25)write a python program to convert a list of multiple integers into a single line.      input:[11,22,33]     output:112233

In [36]:
x=eval(input())
y=""
for i in x:
  y+=str(i)
print(y)

[11,22,33]
112233